body{
    margin: 0;
    font-family: 'Bebas Neue' , sans-serif;
    overflow-x: hidden;
}

.mainLogin{
    max-width: 120vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.telaLogin{
    display: flex;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
    border-radius: 15px;
}

.leftLogin{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rightLogin{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardLogin{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 15px;
    background: rgba(233, 240, 255, 0.824);
    border-radius: 15px;
    box-shadow: 0px 10px 40px #00000056;
}

.cardLogin img {
    width: 200px;
    height: 200px;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 5px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: rgb(255, 255, 255);
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    box-sizing: border-box;
}

.textfield > label{
    font-size: large;
    color:rgb(0, 0, 0);
    margin-bottom: 10px;
}

.textfield > input ::placeholder{
    color:rgb(239, 222, 222) ;
}

.btnLogin{
    width: 100%;
    padding: 30px 35px;
    padding: 10px 0px;
    margin: 5px;
    border: none;
    font-weight: 500px;
    letter-spacing: 2px;
    box-shadow: 0px 10px 40px -12px #00000056;
}

.register-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    background: rgb(226, 233, 249);
}

.register-content img{
    width: 80px;
    height: 80px;
    margin: 5px;
    margin-left: 50px;
}   

.register-profile{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 1250px;
    margin-top: 20px;
}

.register-profile i {
    font-size: 30px;
    margin-bottom: 5px;
}

.register-profile a {
    text-decoration: none;
    font-size: small;
    color: black;
}

.register-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    height: 100%px;
}

.register-login{
    width: 1000px;
    height: 200px;
}

.table-conteiner{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 17%;
    margin-bottom: 5%;
}

.footer-conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 130px;
    background: rgb(201, 207, 222);
    color: rgb(0, 0, 0);
    overflow: hidden;
}
.footer-conteiner h5 {
    margin-top: 20px;
    color: black;
    font-size: 10px;
}

.footer-class{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.footer-class img{
    width: 80px;
    height: 80px;
    margin: 5px;
    margin-left: 50px;
}

