<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div class="mainLogin">
        <div class="rightLogin">
            <div class="cardLogin">
                <div class="image">
                    <img src="./imagens/brasãoUFT_fundotransparente_RGB.png"
                        alt="Brasão da universidade federal do Tocantins">
                </div>
                <div class="form-group textfield">
                    <label for="Login"> Login </label>
                    <input type="text" class="form-control" id="nick" aria-describedby="emailHelp" placeholder="">
                </div>
                <div class="form-group textfield">
                    <label for="senhaLogin"> Senha</label>
                    <input type="password" class="form-control" id="senhaLogin" placeholder="Digite sua senha">
                </div>
                <button type="button" id="btn-login" class="btn btn-success btnLogin">Entrar</button>
                <button type="button" id="btn-help" class="btn btn-secondary btnLogin">Esqueci a senha</button>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-conteiner">
            <div class="footer-class">
                <div class="img-footer">
                    <img src="./imagens/brasãoUFT_fundotransparente_RGB.png" alt="">
                </div>
                <div class="img-footer">
                    <img src="./imagens/logocurso.png" alt="">
                </div>
            </div>
            <p>DESENVOLVIDO POR CÁSSIO COUTINHO E LUIZ FELIPE, DISCIPLINA DE ENGENHARIA DE SOFTWARE</p>
        </div>
    </footer>
</body>

</html>