<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password</title>
    <link rel="stylesheet" type="text/css" href="http://localhost/PHP/MVC/view/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://localhost/PHP/MVC/view/css/style.css">

</head>

<body>
    <div class="mainLogin">
        <div class="rightLogin">
            <div class="cardLogin">
                <div class="image">
                    <img src="http://localhost/PHP/MVC/view/imagens/brasãoUFT_fundotransparente_RGB.png"
                        alt="Brasão da universidade federal do Tocantins">
                </div>
                <form action="http://localhost/PHP/MVC/controller/controlPanel2.php" method="post">
                    <div class="form-group textfield">
                        <label for="emialLogin"> Email</label>
                        <input type="email" class="form-control" id="emailLogin" name="email" aria-describedby="emailHelp"
                            placeholder="Digite seu email">
                    </div>
                    <input type="submit" name="envio" id="btn-login" class="btn btn-success btnLogin" value="Enviar email"></input>
                    <input type="submit" name = "casa" id="btn-help" class="btn btn-secondary btnLogin" value="Página de login"></input>
                </form>
            </div>
        </div>
    </div>
    <footer class="footer-conteiner">
        <div class="footer-class">
            <div class="img-footer">
                <img src="http://localhost/PHP/MVC/view/imagens/brasãoUFT_fundotransparente_RGB.png" alt="">
            </div>
            <div class="img-footer">
                <img src="http://localhost/PHP/MVC/view/imagens/logocurso.png" alt="">
            </div>
        </div>
        <div>
            <h5>DESENVOLVIDO POR CÁSSIO COUTINHO E LUIZ FELIPE, DISCIPLINA DE ENGENHARIA DE SOFTWARE</h5>
        </div>
    </footer>
</body>
<script src="https://kit.fontawesome.com/4bfe745599.js" crossorigin="anonymous"></script>

</html>