<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logado com sucesso</title>
    <style type="text/css">
        body{
            background-color: greenyellow;
        }

        .centro{
            text-align: center;
            border: 1px solid;
        }
    </style>
</head>
<body>
    <div class="centro">
        <h1> <strong> Logado com sucesso </strong></h1>
    </dic>
</body>
</html>